//  -----------  GLOBAL VARIABLES  -----------

//BreakPoints
$breakpoint--hand: 770px //max-width @16px - 768px
$breakpoint--lap: 770px //min-width @16px - 768px
$breakpoint--desk: 1024px //min-width @16px - 1024px
$breakpoint--wall: 1599px //min-width @16px - 1600px

$w-xl: 1650px
$w-l: 1450px
$w-m-l: 1250px
$w-m: 1023px
$w-s: 770px
$w-xs: 550px
$w-xxs: 350px

//Tapable targets -- From apple's HIG - 44px
$minTapTargetWidth: 44px
// $minTapTargetHeight: 44px

//Margins
$smallMargin: 2px
$defaultMargin: 4px
$bigMargin: 10px
$doubleBigMargin: 20px

$yy-margin-m: 16px
$yy-margin-s: 12px
$yy-margin-xs: 6px
$yy-margin-base: 4px

//Padding - grid system version
$yy-padding-xl: 30px
$yy-padding-l: 24px
$yy-padding-m-l: 22px
$yy-padding-m: 16px
$yy-padding-s-m: 14px
$yy-padding-s: 12px
$y-padding-s: 10px
$yy-padding-xs: 6px
$yy-padding-base: 4px
$yy-padding-xxs: 2px

//Buttons border-radius: 5px
$y-buttons-radius: 4px

$y-btn-padding-left: 35px
$y-btn-icon-left: 12px

$y-padding-btn: 10px

$y-padding-session-box: 20px
$y-session-pad-box: 12px
$y-session-pad-s: $y-session-pad-box / 3

$y-unread-border-width: 4px
$y-unread-border-width-s: 2px

//List Styling
$listNumberOfTextLines: 1
$listLeftPadding: 20px
$listRightPadding: 30px
$listTopPadding: 10px

// ----- YABBU COLORS -----

$white: #FFFFFF
$pink: #ed5060

$y-purple-d: #210821
$y-purple: #450045
$y-grey-d: #997599

$y-grey-m: #EFEFFA
$y-grey-l: #F7F7FE
$white: #FFFFFF

$y-green: #52CC78
$y-red: #F5564E
$y-yellow: #ffc169


// ----- TRANSPARENT COLORS -----

$y-purple-d-trans: rgba(33, 8, 33 , 0.90)
$y-purple-d-trans-l: rgba(33, 8, 33 , 0.5)
$y-grey-dx: rgba(134, 132, 136, 1)
$y-grey-d-trans-l: rgba(153, 117, 153 , 0.3)

// Shadows

$y-shadow-btn-hover: 0 1px 4px 0 rgba(0, 0, 0, 0.28)
$y-shadow-topbar: 0 3px 4px rgba(33,8,33,0.1), 0 1px 5px rgba(33,8,33,0.05)
$y-shadow-sidebar:  2px 0px 3px rgba(33,8,33,0.05), 1px 0px 5px rgba(33,8,33,0.05)

$y-shadow-s: 0 7px 14px 0px rgba(50, 50, 93, 0.1)
$y-shadow-search: 0 1px 2px rgba(33,8,33,0.2), 0 1px 2px rgba(33,8,33,0.1)

$y-shadow-item: 0 1px 2px rgba(33,8,33,0.1), 0 1px 2px rgba(33,8,33,0.1)
$y-shadow-item-hover:  0 8px 20px rgba(33,8,33,0.15), 0 2px 8px rgba(33,8,33,0.10)
$y-shadow-item-active:  0 4px 8px rgba(33,8,33,0.15), 0 1px 4px rgba(33,8,33,0.10)

$y-shadow-create-btn: 0 2px 4px rgba(33, 8, 33,0.15)


//  -----------  CONFIG  -----------

// Typography
$baseTextColor:   $y-purple-d

$icon-font-path: "/bower_components/sass-bootstrap/fonts/"

//Base Lay-out Options

$sideBarWidth--hand: 75px
// $topBarHeight--hand: 45px
$topBarHeight--hand: 52px
$topBarHeight--laptop: 45px

$listWidth--hand: 100%
$listWidth--lap: 35%
$listWidth--desk: 25%
$listWidth--wall: 20%

$listWidth--xl: 22%
$listWidth--l: 27%
$listWidth--m-l: 30%
$listWidth--m: 35%

$epic-playful-easing: cubic-bezier(0.34,1.61,0.7,1)

//  -----------  Session container  -----------

$y-session-container-align: auto

//  -----------  Animations config  -----------

$trans-speed-fast: 0.3s
$trans-speed-norm: 0.35s
$trans-speed-slow: 0.50s

//  -----------  FONT Size config  -----------

$y-font-xl: 24px
$y-font-l: 20px
$y-font-m-l: 18px
$y-font-m-s: 16px
$y-font-s: 14px
$y-font-xs: 12px

//  -----------  FONT Size config - REM (root element: 14px) -----------

$yy-font-xl: 1.714rem
$yy-font-l: 1.428rem
$yy-font-m-l: 1.285rem
$yy-font-m-s: 1.142rem
$yy-font-s: 1rem
$yy-font-xs: 0.857rem

//  -----------  FONT Weight config  -----------

$yy-bold: 700
$yy-medium: 500
$yy-normal: 400
$yy-light: 300


$baseFontSize: $y-font-s
$baseFontSizeS: $y-font-s
